<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net-net-1.0"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="textboxAppender"/>
      <appender-ref ref="DailyAppender"/>
    </root>
    <logger name="Daily.Logging">
      <level value="ALL"/>
      <appender-ref ref="textboxAppender"/>
    </logger>
    <logger name="MainLog">
      <level value="ALL"/>
      <appender-ref ref="textboxAppender"/>
      <appender-ref ref="DailyAppender"/>
    </logger>
    <appender name="DailyAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="../log/"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyy-MM-dd.'txt'"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d[%p]%n%f%l%n%m%n%n"/>
      </layout>
    </appender>
    <appender name="textboxAppender" type="MainProj.Util.TextBoxAppender">
      <FormName value="MainForm"/>
      <TextBoxName value="richTextBoxLog"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [ %level ]：  %m%n"/>
      </layout>
    </appender>
  </log4net>
  <entityFramework codeConfigurationType="MySql.Data.Entity.MySqlEFConfiguration, MySql.Data.Entity.EF6">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="DBModel" connectionString="server=localhost;user id=hterp;password=123456;database=db_5a" providerName="MySql.Data.MySqlClient"/>
    <add name="Model1" connectionString="server=localhost;user id=hterp;password=123456;database=db_5a" providerName="MySql.Data.MySqlClient"/>
    <add name="Model11" connectionString="server=localhost;user id=hterp;password=123456;database=db_5a" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
